/* Inizio regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a.underline:hover {
    text-decoration: underline;
}

.flex {
    display: flex;
    align-items: center;
}
/* Fine regole generali */

/* Inizio regole header */
header {
    background-color: black;
    font-size: 0.9rem;
}
    /* inizio top-header */
.top-header {
    justify-content: right;
    padding-top: 20px;
    padding-right: 40px;
    height: 30px;
}

.top-header nav ul li {
    padding: 0 10px;
}

.top-header nav ul li a {
    color: rgb(156, 156, 156);
}

.top-header nav ul li a:hover {
    color: white;
}

i {
    padding-right: 5px;
    color: rgb(60, 63, 255);
}

#language-selection {
    color: black;
}

#language-selection option {
    color: black;
}
    /* fine top-header */

    /* inizio bottom-header */
.bottom-header {
    justify-content: left;
    padding-left: 40px;
    height: 50px;
    margin: 20px 0;
}

.bottom-header .logo img {
    width: 80%;
    height: auto;
}

.bottom-header nav ul li a {
    padding: 15.5px 15px;
}

.bottom-header nav ul li:hover {
    background-color: white;
}

.bottom-header nav ul li:hover a {
    color: black;
}
    /* fine bottom-header */
/* Fine regole header */

/* Inizio regole jumbotron */
/* Fine regole jumbotron */

/* Inizio regole sticky */
.sticky {
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 0;
}
/* Fine regole sticky */

/* Inizio regole main */
/* Fine regole main */





