/* Inizio regole generali */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Segoe UI", -apple-system, BlinkMacSystemFont, sans-serif;
}

body {
    background-color: rgb(29, 28, 28);
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.underline:hover {
    text-decoration: underline;
    cursor: pointer;
}

a.hoverline {
    text-decoration: underline;
}

a.hoverline:hover {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
}

.float-l {
    float: left;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.button-transparent {
    padding: 5px 20px;
    background-color: transparent;
    border: 2px solid white;
    text-transform: uppercase;
}

.button-blue, .button-grey {
    text-transform: uppercase;
    color: white;
    background-color: rgb(25, 158, 247);
    padding: 5px 50px;
    font-size: 1.2rem;
    margin: 10px 0;
    text-align: center;
}

.button-grey {
    background-color: rgb(153, 152, 152);
}
/* Fine regole generali */

/* Inizio regole header */
header {
    background-color: black;
    font-size: 0.9rem;
}
    /* inizio top-header */
header .top-header {
    justify-content: right;
    padding-top: 20px;
    padding-right: 40px;
    height: 30px;
    font-size: 0.8rem;
}

.top-header nav ul li {
    padding: 0 10px;
}

.top-header nav ul li a {
    color: rgb(156, 156, 156);
}

.top-header nav ul li a:hover {
    color: white;
}

i {
    padding-right: 5px;
    color: rgb(60, 63, 255);
}

#language-selection {
    color: black;
}

#language-selection option {
    color: black;
}
    /* fine top-header */

    /* inizio bottom-header */
.bottom-header {
    justify-content: left;
    padding-left: 40px;
    height: 50px;
    margin: 20px 0;
}

.bottom-header .logo img {
    width: 80%;
    height: auto;
}

.bottom-header nav ul li a {
    padding: 15.5px 15px;
}

.bottom-header nav ul li:hover {
    background-color: white;
}

.bottom-header nav ul li:hover a {
    color: black;
}

i.fa-chevron-down {
    color: rgb(156, 156, 156);
    font-size: 0.6rem;
}
    /* fine bottom-header */

    /* inizio undermenu */
.bottom-header nav ul li {
    position: relative;
}

.undermenu {
    display: none;
    position: absolute;
    left: 0;
    top: 50px;
    width: 180%;
    max-width: 200px;
    background-color: white;
}

.bottom-header nav ul li:hover .undermenu {
    display: block;
}

.undermenu a:hover, .undermenu > div:hover {
    background-color: rgb(238, 234, 234);
}

.undermenu a, .undermenu > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.bottom-header nav ul li div > div {
    padding: 15.5px 15px;
    color: black;
}

.undermenu div.triangle::after {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    font-size: 0.7rem;
    content: "\f0da";
    color: grey;
}
    /* fine undermenu */

    /* inizio hover undermenu */
div.undermenu .hover-undermenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
    background-color: white;
    padding: 0;
    white-space: nowrap;
}

.undermenu > div:hover .hover-undermenu {
    display: block;
}

.hover-undermenu hr {
    color: rgba(255, 255, 255, 0.2);
}

.hover-undermenu h3 {
    color: grey;
    font-size: 0.8rem;
    padding: 5px 15px;
    cursor: context-menu;
}
    /* fine hover undermenu */
/* Fine regole header */

/* Inizio regole jumbotron */
.jumbotron {
    width: 100%;
}

.img-jumbotron, .text-jumbotron {
    width: 50%;
}

    /* inizio regole img */
.img-jumbotron img {
    position: relative;
    width: 100%;
    height: auto;
    transform: scale(1.5);
    transform-origin: 100% 15%;
    z-index: -1;
}
    /* fine regole img */

    /* inizio regole text */
.text-jumbotron {
    padding: 20px 50px;
}    
        /* inizio titolo */
#title-jumbotron {
    font-size: 1.5rem;
}

#title-jumbotron em {
    text-transform: uppercase;
    font-weight: 600;
}

#title-jumbotron span:last-child {
    font-size: 1.2rem;
}
        /* fine titolo */
        /* inizio trial */
#trial-jumbotron {
    margin: 20px 0;
}

.button-transparent i {
    color: white;
    padding-left: 10px;
    margin-right: -5px;
    font-size: 0.9rem;
}

#trial-jumbotron img {
    transform: scale(0.6);
}    

#trial-jumbotron span {
    margin-left: -20px;
    font-size: 0.8rem;
}
        /* fine trial */
.text-jumbotron hr {
    color: rgba(255, 255, 255, 0.2)
}
        /* inizio title options */
#title-options {
    margin: 15px 0;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: 200;
}        
        /* fine title options */
        /* inizio plan-options */
#plan-options {
    display: flex;
    justify-content: space-between;
}

.button-plan {
    padding: 25px 50px;
    font-size: 0.9rem;
    border: 1px solid white;
    width: 49%;
    white-space: nowrap;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
}

span.blue-capital {
    text-transform: uppercase;
    color: rgb(60, 63, 255);
    font-size: 0.8rem;
    font-weight: 600;
}
        /* fine plan-options */
        /* inizio subscription */
#subscription {
    margin: 15px 0;
    text-align: justify;
    font-size: 0.78rem;
}        

#subscription p span {
    font-weight: bold;
}
        /* fine subscription */
        /* inizio bottom-jumbotron */
#bottom-jumbotron {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

#bottom-jumbotron div {
    width: 48%;
}       

#price-jumbotron, #offer-jumbotron {
    display: flex;
    flex-direction: column;
}

#offer-jumbotron {
    margin: 30px 0 0 30px;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    height: 60px;
    padding-left: 10px;
}

#price-jumbotron span {
    font-size: 1.5rem;
}

#price-jumbotron span small, #price-jumbotron small {
    font-size: 0.7rem;
}

#price-jumbotron a.underline {
    font-size: 0.7rem;
    margin-bottom: 5px;
}

#offer-jumbotron span:first-child {
    font-size: 1rem;
    text-transform: uppercase;
}

#offer-jumbotron span:last-of-type {
    font-size: 0.9rem;
}

#offer-jumbotron a {
    font-size: 0.8rem;
}
        /* fine bottom jumbotron */
    /* fine regole text */
    /* inizio regole promo */
.promo-jumbotron {
    width: 100%;
    height: 50px;
    background-color: rgb(8, 194, 138);
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo-jumbotron p {
    color: black;
    font-weight: 600;
    font-size: 1.1rem;
}

.promo-jumbotron p a {
    color: black;
}
    /* fine regole promo */
/* Fine regole jumbotron */

/* Inizio regole sticky */
.sticky {
    position: -webkit-sticky; /* Safari & IE */
    position: sticky;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    z-index: 99;
}

.sticky nav ul {
    display: flex;
}

.sticky nav ul li a {
    color: black;
    display: block;
    line-height: 60px;
    padding: 0 20px;
    font-size: 1.1rem;
}

.sticky nav ul li a:hover {
    background-color: white;
}

.sticky nav ul li:first-of-type a:hover {
    box-shadow: 0px -3px 0px 0px black inset;
}

.sticky nav ul li:first-of-type {
    box-shadow: 0px -3px 0px 0px black inset;
}
/* Fine regole sticky */

/* Inizio regole main */
.row {
    width: 100%;
}
    /* inizio first-block */
.first-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 15% 0;
    background: linear-gradient(180deg, #c35a4e 0%, #ae4c59 25%, #701148 100%);
}    

.first-block h2 {
    font-size: 1.9rem;
}

.first-block p {
    margin: 15px 0 50px;
}

.first-block div#astronaut {
    position: relative;
    width: 130%;
}

.first-block div#astronaut img {
    width: 100%;
    height: auto;
}

.first-block div#astronaut div#play-video img {
    width: 13%;
    height: auto;
    position: absolute;
    opacity: 0.7;
    bottom: 44%;
    left: 43.5%;
    cursor: pointer;
}

.first-block div#astronaut div#play-video img:hover {
    transform: scale(1.1);
    opacity: 0.9;
    transition: all 0.2s ease-in-out;
}
    /* fine first-block */
    /* inizio second-block */
.second-block {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 70px 0;
}

.second-block div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
}

.second-block div img {
    width: 40%;
    height: auto;
}

.second-block div h3 {
    font-size: 2rem;
    margin: 40px 0 10px;
    font-weight: 400;
}

.second-block div p {
    font-size: 1.3rem;
}
    /* fine second-block */
    /* inizio third-block */
.third-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 80px 10% 30px;
    background-color: #efefef;
}
        /* inizio lista icone */
.third-block div h2 {
    color: black;
    font-size: 2.5rem;
    font-weight: 400;
}

.nav-row ul {
    margin: 80px 0 30px;
    display: flex;
    justify-content: space-around;
    border-bottom: 1.5px solid rgb(218, 213, 213);
}

.nav-row ul li {
    width: calc(100% / 7 - 10px);
}

.nav-row ul li:first-of-type {
    box-shadow: 0px 3px 0px 0px green;
}

.nav-row ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav-row ul li a img {
    width: 50%;
    height: auto;
}

.nav-row ul li a h4 {
    color: rgb(102, 99, 99);
    font-weight: 600;
    font-size: 0.8rem;
    white-space: nowrap;
    padding: 15px 0;
}
        /* fine lista icone */
.third-block .description-nav {
    color: black;
    width: 80%;
}

.third-block .img-nav-row img {
    width: 90%;
    height: auto;
    border: 20px solid black;
    border-radius: 20px;
    margin: 20px 0;
}

.third-block div.button-grey {
    padding: 10px 25px;
    font-size: 0.9rem;
    margin: 20px 0;
}
    /* fine third-block */
    /* inizio fourth block */
.fourth-block {
    background-color: white;
}

.fourth-block .nav-column {
    position: relative;
    width: 40%;
    padding: 110px 85px;
}

.fourth-block .img-nav-row {
    width: 60%;
    padding: 160px 50px 160px 10px;
}

.fourth-block .img-nav-row img {
    width: 100%;
    max-width: 930px;
    height: auto;
}

.fourth-block h2, .fourth-block h3, .fourth-block p {
    color: black;
    font-weight: 400;
}
    /* inizio title */
.fourth-block .title-nav-column h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
} 

.fourth-block .title-nav-column p {
    text-align: justify;
    padding-bottom: 30px;
    font-size: 0.9rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
    /* fine title */
    /* inizio list-nav */
.list-nav-column li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.list-nav-column h3 {
    font-size: 0.9rem;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-nav-column h3 img {
    width: 20px;
    height: auto;
    opacity: 0.9;
    transform: rotate(360deg);
    transition: transform 0.5s;
}

.list-nav-column h3:active img {
    transform: rotate(0deg);
    transition:  0s;
}

.list-nav-column p {
    font-size: 0.8rem;
    text-align: justify;
    width: 90%;
    margin: 5px 0 20px;
} 
            /* inizio checkbox */
#hideimg2, 
#hideimg3, 
#hideimg4, 
#hideimg5, 
#hideimg6 {
    opacity: 0;
    position: absolute;
    left: 100%;
    top: 160px;
    width: 140%;
    max-width: 1050px;
    height: auto;
}

#checkbtn2:checked ~ #hideimg2, 
#checkbtn3:checked ~ #hideimg3, 
#checkbtn4:checked ~ #hideimg4,
#checkbtn5:checked ~ #hideimg5,
#checkbtn6:checked ~ #hideimg6 {
    opacity: 1;
    animation: fade-in 0.7s ease-in;
}

#checkbtn1, .listing { /* 1 */
    display: none;
}

#checkbtn1:checked ~ .listing {
    display: block;
    animation: fade-in 0.7s ease-in;
}

#checkbtn2, .listing { /* 2 */
    display: none;
}

#checkbtn2:checked ~ .listing {
    display: block;
    animation: fade-in 0.7s ease-in;
}

#checkbtn3, .listing { /* 3 */
    display: none;
}

#checkbtn3:checked ~ .listing {
    display: block;
    animation: fade-in 0.7s ease-in;
}

#checkbtn4, .listing { /* 4 */
    display: none;
}

#checkbtn4:checked ~ .listing {
    display: block;
    animation: fade-in 0.7s ease-in;
}

#checkbtn5, .listing { /* 5 */
    display: none;
}

#checkbtn5:checked ~ .listing {
    display: block;
    animation: fade-in 0.7s ease-in;
}

#checkbtn6, .listing { /* 6 */
    display: none;
}

#checkbtn6:checked ~ .listing {
    display: block;
    animation: fade-in 0.7s ease-in;
}

@keyframes fade-in {
    0% {
         opacity: 0;
    }

    100% {
         opacity: 1;
    }
}
            /* fine checkbox */
        /* fine list-nav */
    /* fine fourth block */
    /* inizio fifth-block */
.fifth-block {
    background-color: white;
}

.fifth-block .title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fifth-block .title * {
    color: black;
    font-weight: 400;
}

.fifth-block .title h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
        /* inizio loghi */
.logo-partners {
    margin-top: 60px;
    padding: 0 30px;
    padding-bottom: 40px;
}

.logo-partners div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100% / 4);
    object-fit: contain;
    margin: 30px 0;
}

.logo-partners div img {
    width: 80%;
    height: auto;
}
        /* fine loghi */
    /* fine fifth-block */
    /* inizio sixth-block */
.sixth-block {
    background: linear-gradient(to right, #fed536 0%, #f77d31 100%);
}
    /* fine sixth-block */
/* Fine regole main */





